#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.do-display {
  display: block;
}

.no-display {
  display: none;
}

.memo-form {
  max-width: 25em;
  text-align: left;
  margin: 0 auto;
}

.memo-form input,
.memo-form textarea {
  width: 100%;
}
.memo-list {
  margin: 0 auto;
}
.memo-list li {
  list-style-type: none;
}

.form-tray {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
}

.box-align-container{
  position: relative;
}
.box-align-right {
  position: absolute;
  right: 0;
}
